{% extends 'base.html' %} {% block start %}

<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2>update Receipe</h2>
    <hr />

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input
        type="text"
        required="text"
        name="receipe_name"
        class="form-control"
        value="{{receipe.receipe_name}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe Description</label
      >
      <input
        type="text"
        required_type="text"
        name="receipe_description"
        class="form-control"
        value="{{receipe.receipe_description}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe Image</label
      >
      <input
        type="file"
        name="receipe_image"
        class="form-control"
        value="{{receipe.receipe_image}}"
      />
    </div>
    <button type ="submit" class ="btn btn-success">update</button>
  </form>
</div>

{% endblock %}
